body {
  margin: 0;
  padding: 0;
}
.container {
  width: 40%;  
  min-height: 500px;
  min-width: 500px;
  margin: 60px auto;
  border: 5px solid #ececec;
}
.questionBox {
  padding: 50px;
}
.ratingDisable {
  color: #cbcccb;
}
.buttonBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.btn {
  background: #e5e6e5;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 6px 0;
  text-align: center;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  width: 200px;
}
.selected {
  color: #fff;
  background: #000;
}
.disable {
  cursor: not-allowed;
  opacity: 0.4;
}
.text-center {
  text-align: center;
}